* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.social :hover {
  transform: scale(1.1);
  transition-duration: 2s;
}
.visit-button {
  background-color: #4caf50; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.visit-button:hover {
  background-color: #45a049;
}
/* Body Section */
body {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  width: 100%;
  line-height: 1.6;
}
h1 {
  color: #000000;
}

/* Header and Navigation */
.header {
  position: static; 
  background-color: #ffffff;
  color: #000000;
}

nav {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  color: #000000;
}

nav ul li {
  color: #000000;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #000000 !important;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li h1 {
  font-size: 2rem;
  color: #000000;
}

span {
  color: #ff0000;
}

/* Main Sections */
.Full {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-color: #ffffff !important;
  color: #000000; 
}

/* Home Section */
.detail {
  display: flex;
  align-items: center;
  padding: 50px 20px;
}

.imag {
  flex: 1;
  margin-left: 5%;
}

.imag img {
  width: 100%;
  max-width: 380px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

.content {
  flex: 1;
  text-align: left;
  padding-left: 20px;
  color: rgb(0, 0, 0);
}

.content h1 {
  font-weight: 700;
}
.detail h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.detail p {
  color: #000000;
  margin-bottom: 30px;
}

.detail button a {
  display: flex;
  padding: 10px 15px 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
#btn11{
  border: none;
}
.media {
  margin-bottom: 20px;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
}
.detail button a:hover {
  background-color: #33c73a;
}

/* About Section */
.About {
  padding: 50px 20px;
  text-align: left;
}

.About h1 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.About p {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 50px;
}

.About h3 {
  font-size: 1.5rem;
  color: #000000;
  margin: 20px 0;
}

/* Projects Section */
.projects {
  padding: 20px 20px;
  text-align: justify;
}

.projects h1 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 3%;
  text-align: center;
}

.lang {
  margin: 15px;
}

.pcon {
  padding: 10px;
}

.pcon h2 {
  font-size: 1.5rem;
  color: #ff0000;
  margin-bottom: 20px;
}

.pcon p {
  font-size: 1rem;
  color: #000000;
}
.projects button {
  justify-self: center;
  width:70%;
}

/* Skills Section */
.skills {
  padding: 20px 20px;
  text-align: center;
}

.skills h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills ul li {
  display: inline-block;
  font-size: 1rem;
  margin: 10px 20px;
}

/* Contact Section */
.contacts {
  text-align: center;
  border-radius: 8px;
}

.contacts h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 0 !important;
}

.contacts p {
  font-size: 0.9rem;
  padding: 0px;
}
.social {
  margin-bottom: 20px;
}
nav {
  text-align: center;
  margin-bottom: 20px;
}

button#toggleBtn {
  display: none; 
}
/* ----------Footer---------- */
footer {
  background-color: white !important;
  color: #000000 !important;
}

/* Responsive Design */
@media (min-width: 992px) {
  body {
    font: weight 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 900;
    font-weight: bolder;
  }

  nav {
    width: 100%;
    padding: 22px 5px;
    margin-bottom: 50px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 8px;
    font: size 1.2rem;
  }

  ul li a {
    text-decoration: none;
    position: relative;
    display: inline-block !important;
    color: #000; 
  }

  ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: 0;
    left: 50%;
    background-color: #000; 
    transition: all 0.3s ease; 
  }


  ul li a:hover::before {
    width: 100%; 
    left: 0;
  }
  .projects h5 {
    font-weight: 600;
  }

  .About h1,
  p,
  h3 {
    word-spacing: 1px;
    letter-spacing: 0.5px;
    padding: 50px, 15px;
    padding-bottom: 10px;
  }

  .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    margin-top: 105px;
    margin-bottom: 85px;
  }

  .imag {
    flex: 1;
    margin-right: 30px;
  }

  .imag img {
    max-width: 65%;
    height: auto;
    border-radius: 50%;
    margin-top: 22px;
  }

  .content {
    flex: 1;
    text-align: left;
    padding-left: 20px;
    padding-top: 80px;
    font-size: 32px;
  }

  .detail h1 {
    font-size: 2.8rem;
    margin-bottom: 20px;
  }
  .skills {
    margin: 10px 2px;
  }

  .detail p,
  .detail button a {
    font-size: 1rem;
    border-radius: 8px;
  }
  .detail button {
    border-radius: 8px;
    border: 1px solid rgb(40, 197, 71);
  }
  .contacts {
    padding-top: 20px;
    margin-top: 250px;
    background-color: white;
  }
  .container {
    display: flex;
  }

  .side {
    display: none;
  }
  #hbr {
    display: none;
  }
}

@media (max-width: 991px) {
  * {
    box-sizing: border-box;
    max-width: 101%;
  }

  nav ul {
    background-color: #ffffff;
    margin: 2%;
    padding: 2%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  nav ul li a {
    font-size: larger;
  }
  nav ul li {
    margin-top: 5px;
  }
  .na1 {
    display: none;
  }

  .detail {
    flex-direction: column;
    align-items: center;
  }

  .imag {
    width: 30vb;
    margin: 0px auto 20px auto;
  }

  .detail h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .detail p,
  .detail button a {
    font-size: 0.8rem;
    text-align: center;
  }
  .detail button {
    width: 120px;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .contacts {
    padding-top: 20px;
  }
  .media {
    margin-left: 5px;
  }

  .skills img {
    margin: 10px;
    padding: 5px;
  }

  /* Hamburger */
  #hbr {
    width: 30px;
    position: absolute;
    right: 8%;
    top: 5%;
  }
  #logo_name {
    position: absolute;
    left: 5%;
    top: 4.5%;
  }
  nav {
    margin: 30px;
  }
  #l1 {
    margin-top: 20px;
  }
  .projects button {
    width: 70vw;
  }
 
}
